.header-section-b
{
    height: 150px;
    width: 100%; 
    background-color: #F1F0EC;
    display:grid;
    position: sticky;
    grid-template-columns: 22.5% 45% 22.5% ;
    align-items: center;
    justify-content: center;
    top:0;
    z-index: 10;
            
    /***LOGO EMPRESA***/

    .logo-container{
       width: 90%;
       height: 90%;
       display:flex;
       justify-content: center;
       align-items: center;
       position: relative;
   
     
       

    .headerLogo{
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        
        .logo{
           width: 100%;
           height: 100%;
           background-image: url(./Images/Logo_Olivia.jpg); 
           background-size: contain;
           background-repeat: no-repeat;
           background-position: center;  
               
            }
        }  
    }

    .navigation{
        width: 100%;
        height: 100%;
        justify-content: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px; 
    }              

    .user-icons{
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 30px;    
    }
} 


@media (min-width: 220px) and (max-width: 900px)
{  
   .header-section-b
    {
       grid-template-rows: 40% ;
       grid-template-columns: 35% 20% 45% ;
       gap:0px;
       height: 200px;
      
        .navigation{
            grid-column: 1/5;
            padding-bottom: 3px;
            gap: 0px;
        }

        .user-icons{
            grid-column: 3/3;
            grid-row: 1/2;
            gap: 0px;
        }
    }   
}
