.contacto-container
    {

        box-shadow: 0 0 2px ;
        border-radius: 5px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 1%;
        gap: 6px;
        
        p{
            strong{
                font-weight: 600;
            }
            margin: 5px;
            font-weight: 500; 
        }
        
    }

    .contacto-card
    {   
        box-shadow: 0 0 4px 0 #bbbbbb;
        width: 98%;
        display: flex;   
        align-items: center;
        border-radius: 5px; 
        margin: 2px;
        padding: 15px;
        background-color: white;
        margin: auto;
        justify-content:center;
        gap: 50px;
     
    
    }


    .contacto-wpp,.contacto-instagram,.contacto-facebook{
        width: 150px;    
        display: flex;
        gap: 5px;
        height: 32px;
        justify-content: center; 
        align-items: center;   
        text-decoration: none;   
        border-radius: 5px;
        padding: 2px;
        color: black;
    
        img{
            width: 25px;
            object-fit: contain;
            height: 25px;
        }
        h2{
            width: fit-content;
            font-family: "Quicksand", sans-serif;
            font-size: 13px;
            font-weight: 600;
            text-align: center;
        }      
    }
    .contacto-wpp{
        box-shadow: 1px 1px 2px 1px #87AA96 ;
    }
    
    .contacto-instagram{
        box-shadow: 1px 1px 2px 1px #c08cc3
    }
    
    .contacto-facebook{
        box-shadow: 1px 1px 2px 1px #131ace
    }
    
    .contacto-wpp:hover{
    
        background-color: #DBEAE2;
        color: white;
    }   
    .contacto-instagram:hover{
        background-color: #f0d4f1;
        color: white;
    }
    
    .contacto-facebook:hover{
        background-color: #c5c7f8;
        color: white;
    }