@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.Container-ver-button{
   width: 60%;
    position: relative;
    height: fit-content;
    display: flex;
 
   
}

.button-Ver
{   
   box-shadow: 0 0 3px 0 black;
   border-radius: 40px;
   height: 40px;
   width: 100%;
   cursor: pointer;
   background-color: #FDC7E8 ;
   border: none;
   z-index: 5;
   cursor:pointer;
   position: relative;   

}   


.buttonVer:hover{

   background-color: #ff80ce ;
   transition: 0.2s;
   
}