@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.resumen-container{

    box-shadow: 0 0 2px 0 ;
    width: 100% ;
    border-radius: 10px;
    height: fit-content ;
    background-color: #F1F0EC ;
    padding: 2%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    
    .container-father-precios{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .descuento-transfer{
        font-family: "Quicksand", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #FF5EC0;
        display: flex;
        align-items: start;
    }

    .precios-container , .precios-container-total{
        display: flex;
        flex-direction: row;   
        width: 100%;
        align-items: center;
        justify-content: space-between;

    }


    .precios-container-total{
        margin-top: 20px;

    }
    .resumen{
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: start;
    }

    .total-compra{font-family: "Quicksand", sans-serif;} 

    .comprar-button{

        height: 40px;
        border-radius: 10px;
        width: 150px;
        font-family: "Quicksand", sans-serif;
        font-size: 15px;
        border: none;
        box-shadow: 0 0 3px 0;
        cursor: pointer;
        background-color: #DBEAE2;
        font-weight: 550;
        transition: 0.2s ease-in-out;
    }
}


.comprar-button:hover{
    background-color: #87AA96;
    width: 160px;
    color: white;
    font-weight: 500;
    

}
