@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); 


.userLogin{

    width: 150px ;
    height: 33px;
    position: relative;
    font-family: "Questrial";
    cursor: pointer;

    
    .container-login{
        position: relative;
        height: 100%;
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #FF5EC0;
        
        img{
            height: 55px;
            width: 40px;
            object-fit: cover;
        }
        h2{
            display: flex;
            flex-direction: column;
            text-align:left;
            width: fit-content;
            font-size: 14px;
            font-weight: 2px ;   
            display: flex;
            flex-direction: row;
            align-items: center;     
        }
    }
}


@media (min-width: 220px) and (max-width: 900px)
{  
    .userLogin{
       
       width: fit-content;
        .container-login{  
            display: flex;
            flex-direction: column;
            
            img{
                height: 40px;
                width: 100%;   
                object-fit: contain; 
            }
            h2{font-size: 10px;}
        }
    }
}