@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.search
{   
    width: 100%;
    height: 70px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; 

    .input-div{  
        width: 90%;
        height: 75%;
        position: relative; 
        display: flex;
        align-items: center;
 
        
        input{
            width: 100% ;
            height: 100%;   
            border-radius: 10px;
            border: none;
            padding: 0 10% 0 2%;
            font-family: "Questrial", sans-serif;
            font-size: large; 
            position: absolute;
            outline-color: #FDC7E8;
            outline-style: thin;
            box-shadow: 0 0 2px 0 #aaaaaa;     
                             
        }

        input::placeholder {
            color: #cccccc;
          }
          
        .search-icon
        {
            height:92%;
            width: 50px;
            position: absolute;
            right: 0;
            background-image: url(./Nav-Bar-Images/Search-Icon.jpg);
            background-size: cover;
            margin: 2px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            border-radius: 10px;    
            align-self: center;      
        } 
    }
}


@media (min-width: 220px) and (max-width: 900px)
{
    .search {
        width: 95%;
        .input-div{ 
            height: 75%;
            .search-icon{
                margin-left: 86%;
            }
        } 
    }         
}   
    
