@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.modal-mod {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.166); /* Fondo opaco */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.mod-modal-content {
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;  

  position: relative;
  align-items: center;
  justify-content: flex-start;  
  max-width: 95%; 
  max-height: 96vh;  
  overflow: hidden;  
  width: auto; 
  height: auto;  
}
  
  .close-button {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 25px;
    width: 25px;
    background-color: rgb(252, 112, 112);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 900;
    font-family: "Quicksand", sans-serif;
    border: solid thin ;
    z-index: 10;
    

  }

  .close-button:hover {
    background-color: red;
   
  }


  @media (max-width:900px){

    
    .mod-modal-content {
        width: 90%;
        height: 90%;
        
    }

}
  