.factura-container{
    box-shadow: 0 0 2px ;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 6px;

    p{
        strong{
            font-weight: 600;
        }
        margin: 5px;
        font-weight: 500;
        
    }
}

.factura-card{
    box-shadow: 0 0 4px 0 #bbbbbb;
    width: 98%;
    display: flex;   
    align-items: center;
    border-radius: 5px; 
    align-self: center;
    margin:2%;
    padding: 5px;
    background-color: white;
    
}

.data-factura{
                
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 45px;
}

.img-container{
    border-radius: 50%;
    box-shadow: 0 0 3px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 5px;
    img{
        width: 35px;
        height: 45px;
        object-position: center;
        object-fit:contain;       
    }
}

.button-descargar, .ver-factura{
    box-shadow: 0 0 2px black;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
    display: flex;
    height: fit-content;
    position: absolute;
    right: 0;
    margin-right: 10px;
    img{
        object-fit: contain;
        width: 35px;
        height: 35px;
    }
}

