@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.carrito-page-container{

    width: 70%;
    height:fit-content;
    border: solid;
    margin:auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    background-color: #ffffff33;
    padding: 2%;
    border: none;
    box-shadow: 0 0 5px #666666;
    display: flex;
    gap: 50px;
    justify-content: center;

    .datos-de-compra{

       
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 35%;
        height: fit-content;
    }

    span{
        font-family: "Quicksand", sans-serif;
        width: fit-content;
        align-self: center;
        padding: 1%;
        text-align: center;
        box-shadow: 0 0 2px 0 black;
        border-radius: 5px;
        font-size: 15px;      
        
    }

}

