@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


a{text-decoration: none;}

.publicacion-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 135px; 
    max-height: 230;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #dddddd;
    align-items: center;
    justify-self: center;
    gap: 16px;
    cursor: pointer;

    .image-container{
        width:250px;
        height: 120px; 
        max-height: 300px;
        border-radius: 15px;
        box-shadow: 0 0 3px #cccccc;
        border-radius: 10px;
        position: relative;
        display: flex;
        padding: 5px;
        margin: 10px;
       
        .product-image {
            width:100%;
            height: 100%; 
            object-fit: contain;
        }
    }
   

    .tituloStyle {
        font-family: "Questrial", sans-serif;
        font-weight: 300;
        color: black;
        text-transform: none;
        text-align: center;
        font-size: 20px;
        padding: 1%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        box-shadow: 0 0 3px #cccccc;
        border-radius: 10px;
        padding: 5px;
      
         
    }

    .delete-button {
        height: 35px;
        width: 60px;
        background-color: #FDC7E8;
        font-family: "Questrial", sans-serif;
        font-size: 15px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../../../../../assets/delete_icon.svg");
        background-position: center;
        background-size: 28px 28px;
        background-repeat: no-repeat;
        color: transparent; /* Oculta el texto por defecto */
        transition: 0.2s ease-in;
        position: relative;
        cursor: pointer;
        border: none;
        box-shadow: 0 0 2px 0 #888888;
        margin-right: 15px;
    }
    
    .delete-button:hover {
        width: 150px;
        color: white; 
        background-color: #FF5EC0;
        background-image: none; 
        
    }
    
    .delete-button::after {
        content: "Eliminar"; 
        position: absolute;
        width: 60px;
       
    }

    .modify-button {
        height: 35px;
        width: 35px;
        padding: 10px;
        background-color: #f3f3f3;
        font-family: "Questrial", sans-serif;
        font-size: 15px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../../../../../assets/modify_button.svg");
        background-position: center;
        background-size: 29px 29px;
        background-repeat: no-repeat;
        color: transparent; /* Oculta el texto por defecto */
        transition: width 0.3s ease, background-color 0.3s ease, color 0.3s ease;
        position: relative;
        cursor: pointer;
        border: none;
        box-shadow: 0 0 2px 0 #888888;
        margin-right: 15px;
    }
    
    .modify-button:hover {
        width: 150px;
        color: white; 
        background-color: #8db19d;
        background-image: none; 
        
    }
    
    .modify-button::after {
        content: "Modificar"; 
        position: absolute;
       
    }
    
    
    .stylePrice {
        font-family: "Questrial", sans-serif;
        font-weight: bolder;
        color: #87AA96;
        text-transform: none;
        text-align: center;
        font-size: 2.3vh;
        letter-spacing: 3px;
        display: flex;
        text-wrap: nowrap;
        margin-left: 35px;
        box-shadow: 0 0 3px #cccccc;
        border-radius: 10px;
        padding: 5px;   
    }
    
    .stockStyle {
        font-family: "Quicksand", sans-serif;
        color: black;
        text-transform: none;
        text-align: center;
        font-size: 1.6vh;
        letter-spacing: 3px; 
        width: 20%;
        box-shadow: 0 0 3px #cccccc;
        border-radius: 10px;
        padding: 5px;
      
    }   
}

.publicacion-card:hover{
    height: 148px;
    transition: 0.2s ease-in;
 }


@media (max-width: 900px) {
    .publicacion-card {
        justify-content: center;
        height: fit-content;

        flex-wrap: wrap;
        .tituloStyle {
            font-size: 2.5vw;
        }
        .transferStyle {
            font-size: 1.1vw;
        }
        .stylePrice {
            font-size: 1.7vw;
        }

        .delete-button {
        
            width: 35px;
        }
        .delete-button:hover {
            width: 70px;
            color: white; 
            background-color: #FF5EC0;
            background-image: none;   
        }
        .modify-button:hover {
            width: 70px;
        }


    }
    .publicacion-card:hover{
        height: fit-content;
        transition: none;
     }


     
    

     
}

