
.container-opaco{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.162); /* Fondo opaco */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2500;
  font-family: "Quicksand", sans-serif;
  transition: opacity 0.5s ease-in-out;
  
}


.success-container {
  height: 250px;
  width: 400px;
  padding: 10px;
  position: fixed;
  border: solid 3px #87aa96;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 25px;
  box-shadow: 0 0 25px 0 #dddddd;
  font-size: 20px;
  background-color: white  ;
  z-index: 2000;
  color: black ;
  top: 50%;      
  left: 50%;      
  transform: translate(-50%, -50%);
}

.success-logo-container{
  width: 100%;
  height: 50%;
  margin-top: 6px;
  background-image: url("../../assets/success.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.text-success-container{
  height:30%;
  color: #87aa96;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container{
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button-success
{
  height: 35px;
  width: 80px;
  background-color: #87aa96;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: 900;
  font-family: "Quicksand", sans-serif;
  border: solid thin ;
  z-index: 10;
  z-index: 1500;
  transition: 0.2s;
}

.close-button-success:hover
{
  background-color: #9fcab1;
  transition: 0.2s;
}

.close-button-success::after
{
  background-color: #7df1af;
  transition: 0.2s;
}

.success-container.visible {

  opacity: 1;
}

