
.modal-overlay-generic {
  
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.098); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  
  font-family: "Quicksand", sans-serif;

  .modal {
    background-color: white;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 1.5%;
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

}


